.brand1 {
    background-color: #191970;
    color: white;
    padding: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    letter-spacing: 5px;
    font-weight: bold;
}

.brand2 {
    background-color: #F5F5F5;
    color: #191970;
    margin-right: 10px;
    padding: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bolder;
}

.card{
    padding: 30px;
    width: 50%;
    box-shadow: 0 0 20px 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 2%;
}

.login-button {
    background-image: linear-gradient(#1e1e77, #191932);
    color: white;
    width: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}