<div style="color: green; text-align: center; font-weight: bold;">{{message}}</div>
<div style="color: red; text-align: center; font-weight: bold;">{{error}}</div>
<div *ngIf="boolLoader">
    <app-loader></app-loader>
</div>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Password Reset</h3>
        </div>
        <div class="card-body">
            <form #forgetPasswordForm1="ngForm" class="form" role="form" autocomplete="off" (ngSubmit)="sendOtp()">
                <div class="form-group">
                    <label for="userId">User ID</label>
                    <input type="number" class="form-control" id="userId" name="userId" #userId="ngModel" [(ngModel)]="changePassword.userId" required>
                </div>
                <div class="row">
                    <div class="alert-error ml-3" *ngIf="userId.invalid && (userId.touched)">
                        <p style="color:red;" *ngIf="userId.errors?.['required']">User ID is required. </p>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-lg float-right" style="background-color:#191970; color:azure;" [disabled]="!forgetPasswordForm1.form.valid">Send</button>
                </div>
                </form>
                <form #forgetPasswordForm2="ngForm" (ngSubmit)="resetPassword(); forgetPasswordForm2.resetForm()">
                <br><br>
                <div class="form-group">
                    <label for="otp">OTP</label>
                    <input type="text" class="form-control" id="otp" name="otp"  #otp="ngModel" [(ngModel)]="changePassword.otp" required>
                </div>
                <div class="row">
                    <div class="alert-error ml-3" *ngIf="otp.invalid && (otp.touched)">
                        <p style="color:red;" *ngIf="otp.errors?.['required']">OTP is required. </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword">Enter New Password</label>
                    <input type="password" class="form-control" id="newPassword" #newPassword="ngModel" name="newPassword" [(ngModel)]="changePassword.newPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </div>
                <div class="row">
                    <div class="alert-error ml-3" *ngIf="newPassword.invalid && (newPassword.touched || newPassword.dirty )">
                        <p style="color:red;" *ngIf="newPassword.errors?.['required']">New password is required. </p>
                        <p style="color:red;" *ngIf="newPassword.errors?.['pattern']">Not a strong password.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmNewPassword" #confirmNewPassword="ngModel" name="confirmNewPassword" [(ngModel)]="changePassword.confirmNewPassword" required>
                </div>
                <div class="row">
                    <div class="alert-error ml-3" *ngIf="confirmNewPassword.invalid && (confirmNewPassword.touched)">
                        <p style="color:red;" *ngIf="confirmNewPassword.errors?.['required']">Confirmation of new password is required. </p>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-lg float-right m-2" style="background-color:#191970; color:azure;" [disabled]="!forgetPasswordForm2.form.valid" >Reset Password</button>
                    <!-- <button type="submit" class="btn btn-lg float-right m-2" style="background-color:#191970; color:azure;"  [routerLink]="['/login']">Back</button> -->
                </div>
            </form>
            <div class="form-group">
                <button type="submit" class="btn btn-lg float-right m-2" style="background-color:#191970; color:azure;"  [routerLink]="['/login']">Back</button>
            </div>
        </div>
    </div>
</div>