<div class="active">

    <!----------------------------------- Navbar start --------------------------------------------------->

    <nav class="navbar navbar-expand-lg justify-content-between fixed-top" style="background-color: rgb(176, 176, 176);">
        <!-- <a class="navbar-brand font-weight-bold main-heading " href="#"><img src="../images/child-5.jpg"
                class="logo">CardHut</a> -->
        <!-- <div class="main-heading">CardHut</div> -->
        <div class="brand1" href="#">CARD</div>
        <div class="brand2" href="#">HUT</div>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto font-weight-bold text-uppercase">
                <li class="nav-item mr-5" style="color:#191970">
                    <i class="fa fa-user fa-lg ml-2 mr-2" style="color:#191970;"></i>{{user.fullName}}
                </li>
                <li class="nav-item mr-2">
                    <form (ngSubmit)="logOut()">
                    <button type="submit" style="color:#191970 ; border:none; background-color:transparent"><b>LOGOUT</b></button>
                   </form>
                </li>

            </ul>
        </div>
    </nav>
    <!-------------------------------------------- navbar End ----------------------------------------------------->


    <div class="media ">
        <div class="floating">
            <div class="thickness"></div>
            <div class="thickness"></div>
            <div class="thickness"></div>
            <div class="card_body">
                <div class="paypal_center svg"></div>
                <!-- <div class="logo svg"></div> -->
                <div class="logo">CARDHUT</div>
                <br><br>
                <div class="paywave svg"></div>
                <div class="chips svg"></div>
                <div class="card_no text">
                    {{cardno}}
                </div>
                <div class="valid text">
                    VALID <br> TILL
                </div>
                <div class="valid_date text">
                    {{card.emiValidity}}
                </div>
                <div class="holder text">{{user.fullName}}</div>
                <div class="mastercard_icon svg"></div>
            </div>

            <div class="media-body" style="margin-top: 150px; margin-left: 30px;">
                <h5>Card Type: {{card.emiCardType}}</h5>
                <h5>Card Limit : &#8377; {{card.emiCardLimit | number: '1.1-2'}}</h5>
                <h5>Card Balance : &#8377; {{card.emiCardBalance | number: '1.1-2'}}</h5>
                <br>
            </div>

        </div>


        <!-- PUT THE TABLE INSIDE DIV CLASS MEDIA BODY  -->
        <div class="media-body" style="margin-top: 81px; margin-left: 20px;">
            <section  style="background-color: #f4f5f7;">
                <div class="container ">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col "> 
                            <!-- mb-4 mb-lg-0 -->
                            <div class="card " style="border-radius: .5rem;">
                                <!-- mb-3 -->
                                <div class="row ">
                                    <!-- g-0 -->
                                    <div class="col-md-4 gradient-custom text-center text-white"
                                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                            alt="Avatar" class="img-fluid my-5" style="width: 150px;" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body p-4">
                                            <h6>User Information</h6>
                                            <hr class="mt-0 mb-4">
                                            <div class="row pt-1">
                                                <div class="col-6">
                                                    <h6>Name</h6>
                                                    <p class="text-muted">{{user.fullName}}</p>
                                                </div>
                                                <div class="col-6">
                                                    <h6>User ID</h6>
                                                    <p class="text-muted">{{user.userId}}</p>
                                                </div>
                                            </div>
                                            <hr class="mt-0">
                                            <div class="row pt-1">
                                                <div class="col-6">
                                                    <h6>Email</h6>
                                                    <p class="text-muted">{{user.email}}</p>
                                                </div>
                                                <div class="col-6">
                                                    <h6>Phone</h6>
                                                    <p class="text-muted">{{user.userPhone}}</p>
                                                </div>
                                            </div>
                                            <hr class="mt-0">
                                            <div class="row pt-1">
                                                <div class="col-6">
                                                    <h6>Account Number</h6>
                                                    <p class="text-muted">{{user.userAccountNo}}</p>
                                                </div>
                                                <div class="col-6">
                                                    <h6>Address</h6>
                                                    <p class="text-muted">{{user.userAddress}}</p>
                                                </div>
                                            </div>
                                            <hr class="mt-0 mb-4">
                                            <br>
                                            <div class="row pt-1">
                                                <div class="col-6 mb-3">
                                                    <button type="button" class="btn active btn-lg"
                                                        style="background-color: #191970; color: azure;"
                                                        [routerLink]="['/products']">Shop Now</button>

                                                </div>
                                                <div class="col-6 mb-3">
                                                    <button type="button" class="btn active btn-lg"
                                                        style="background-color: #191970; color: azure;"
                                                        [routerLink]="['/transactions']">Transactions</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

</div>
<!-- </body> -->